<!DOCTYPE html>
{% load static %}
<html leng="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Research Collaboration</title>
    <meta name="viewport" content="width=device-width, initial scale1.0">
    <link rel="stylesheet" href="{% static 'css/styleMain.css' %}">
    <link rel="stylesheet" href="{% static 'css/styleHome.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="{% url 'home' %}"><img src="{%  static 'images/bgsulogo.png' %}" alt="logo"></a>
            <h1>Research Collaboration</h1>
        </div>

        {#    These are the options in the nav bar which requires users authorization for update    #}
        <ul>
            <li class="home"><a href="#">Home<span class="icon"><img src="{% static 'images\home-5-16.png'%}" alt="home"></span></a></li>

            {% if user.is_authenticated %}
                {% if faculty %}
                <li class="update"><a href="{% url 'update' %}">Update<span class="icon"><img src="{% static 'images\upload-16.png'%}" alt="update"></span></a></li>
                    {% endif %}
                {{ user.username }}
                <li class="signOut"><a href="{% url 'logout' %}">Sign Out<span class="icon"><img src="{% static 'images\logout-16.png' %}" alt="sign out"></span></a></li>
            {% else %}
                <li class="login"><a href="{% url 'login' %}">Login<span class="icon"><img src="{% static 'images\login-icon-18-16.png' %}" alt="login"></span></a></li>
            {% endif %}

        </ul>
    </nav>
    <div class="main">
        <br>
        <div class="intro">
            <h1 class="title">Welcome!</h1>
            <p>
                This web tool is to promote research collaboration at BGSU. Users can search for faculty with certain expertise (e.g., 
                machine learning) or by other keywords (e.g., by departments).  BGSU faculty can also upload their BGSU formatted CV 
                and updates their information.
                <br>
                <br>
                <span>Warning:</span> Any BGSU member can use this tool for searching, but updating/uploading personal information is 
                reserved for faculty only.
                <br>
                <br>
            </p>
        </div>
        <div>
            <h1 class="title">Search for a Research Interest, Department, or Faculty Member Name:</h1>
            <form class="searchBar" method="get" action="results">
                <div class="dropSearch">
                    <select class="dropdown" id="dropdown" name="dropdown">
                        <option value="interest">Research Interest</option>
                        <option value="department">Department Title</option>
                        <option value="name">Faculty Member Name</option>
                    </select>
                    <input class="search" id="search" type="text" placeholder="Enter Search" name="search">
                </div>
                <br>
                <button class="searchBarButton" type="submit">Search <span class="triangle">&#9654</span></button>
            </form>
        </div>
        <br>
        <div class="funds">
            <div class="indFund">
                <h1>Funding Sources and Proposal Resources:</h1>
                <hr>
                <h2>SPIN</h2>
                <p>
                    Searchable database of over 40,000 opportunities from more that 10,000 global sponsors.
                    Use SPIN to search for research grants, fellowships, training and various other funding
                    opportunities. Access funding information online, from any browser. Organize grant 
                    information in one convenient place.
                </p>
                <a href="http://www.bgsu.edu/spin">Set up your account and start your search for funding.</a>
            </div>
            <div class="indFund">
                <h2>Foundation Center</h2>
                <p>
                    Provide numerous electronic resources to assist in finding funding opportunities and
                    developing grant proposals.
                </p>
                <a href="https://candid.org/?fcref=lr">Start your search in the Foundation Center today.</a>
            </div>
            <div class="indFund">
                <h2>Grants.gov</h2>
                <p>
                    Offers the ability to search for Federal government-wide grant opportunities. Users
                     can search by full text, by date, by CFDA number, by funding topic, and by agency.
                     users can also register to receive grant notifications by e-mail, under several
                     options.
                </p>
                <a href="https://www.grants.gov/">See what Grants.gov has to offer.</a>
            </div>
            <div class="indFund">
                <h2>Philanthropy News Digest RFP Bulletin</h2>
                <p>
                    Maintained by the Foundation Center, the Philanthropy News Digest RFP Bulletin is
                     revised each week. The web site also includes an option for a weekly e-mail update.
                </p>
                <a href="https://philanthropynewsdigest.org/rfps">Read what the RFP Bulletin says this week.</a>
            </div>
        </div>
    </div>
</body>
</html>
